1. Web Scraping - Introduction _ IPSSI-SQY.ipynb
2. Web Scraping - Beautiful Soup _ IPSSI-SQY.ipynb
3. Web Scraping - Selenium _ IPSSI-SQY.ipynb
chromedriver.exe
chromedriver-win64
the html project.html